# Conexão com Azure SQL Database
ConnectionStrings__DefaultConnection=Server=<AZURE_SQL_SERVER>.database.windows.net;Database=techstoredb;User Id=<SQL_ADMIN_USER>;Password=<SQL_ADMIN_PASSWORD>;Encrypt=True;TrustServerCertificate=False;

# Application Insights
ApplicationInsights__ConnectionString=<APPLICATION_INSIGHTS_CONNECTION_STRING>

# CORS - URL do frontend no Blob Storage
AllowedOrigins=https://<STORAGE_ACCOUNT>.z15.web.core.windows.net

# Ambiente
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:5000
