# Ambiente
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://127.0.0.1:5000

# Key Vault — a VM obtém os segredos (connection strings) via identidade gerenciada
KeyVault__Uri=https://kv-techstore-matheus.vault.azure.net/

# CORS — URL do frontend no Blob Storage (sem barra no final)
AllowedOrigins=https://sttechstore31459.z9.web.core.windows.net
